body{
	background: #345;
}
a img{
	height: 10px
	width:10px;
}
.head{
	text-align: center;
	margin-top:100px;
    color:#fff;
}

.buttons{
	text-align: center;
}
 button{
	color: white;
	background: #00bfa5;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 100px;
    border-radius: 50px;
    margin-top: 100px;
    margin-bottom: 100px;


}
.footer{
	position: fixed;
}
footer p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}