 body {
  background: #eee !important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}
h2{
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.forms {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.forms .forms-heading,
.forms .checkbox {
  margin-bottom: 30px;
}
.forms .checkbox {
  font-weight: normal;
}
.forms .form-control {
  width: 100%;
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.forms .form-control:focus {
  z-index: 2;
}
.forms input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.forms input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.remember{
  margin-top:20px; 
}

button.primary{
  background-color:#007bff;
  border-color:#007bff;
}
            
button.primary:hover{
  color:#fff;
  background-color:#0069d9;
  border-color:#0061CC
}

/* CheckBox */
input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
  margin-top: 20px;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #007bff;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 8px;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}
