* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.navigation,
.banner,
.content,
.section,
.sidebar {
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navigation {
    position: relative;
    top: 30px;
    order: 2;
}

.content {
    order: 1;
    position: relative;
    top: 1px;
    margin-top: 10px;
}

.sidebar {
    position: relative;
    top: 30px;
    order: 3;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

    .navigation {
        flex: 1 1 15%;
    }
    .sidebar {
        flex: 0 0 100%;
    }

    .section {
        flex: 2 1 75%;
    }

}


/* Desktop Styles */
@media only screen and (min-width: 961px) {

    .navigation {
        flex: 1 1 25%;
        order: 1;
    }
    
    .content {
        flex: 2 1 55%;
        order: 2;
    }
    
    .sidebar {
        flex: 1 1 20%;
        order: 3;
    }

    .section {
        flex: 2 1 75%;
    }
}

.float-left,
.float-right,
.center {
    display: flex;
    flex-direction: column;
}

.float-left {
    
    align-items: flex-start;
    justify-content: flex-start;
}

.float-right {
    align-items: flex-end;
    justify-content: flex-end;
}

.center {
    align-items: center;
    justify-content: center;
}

