.files{
    float: right;
}
li{
    display: inline;
}
li a{
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    font-weight: bold;
    font-size: 24px;
}

.is-centered {
    margin-top: 200px;
    margin: auto;
    width: 100%;
    padding-top: 20px;
}
.p-t {padding-top: 20px !important;}

.is-form-control {
    padding-bottom: 20px;
}

.is-form {
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 35px;
    padding-right: 35px;
    width: 50%;
}
.rule {
    background-color: #355E87;
    border-width: 2px; 
}

.is-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
.is-label {
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.is-primary {
    font-size: 16px;
    width: 100%;
    background-color: #355E87;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: 2px solid #355E87 ;
    border-radius: 4px;
    cursor: pointer;
}

button.is-primary:hover {
    background-color: transparent;
    color: #355E87;
    border: 2px solid #355E87 !important;
    border-radius: 4px;
    cursor: pointer;
}
.is-muted {
    color: #999
}

a.is-muted {
    text-decoration: none;
    font-size: 18px;
}
  
a.is-muted:hover {
    font-weight: bold;
}
.is-right {
    float: right;
}
.is-left {float: left;}