@import 'app.css';

body{
    background: #345;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff
}
a img{
	height: 10px;
	width:10px;
}
.head{
	text-align: center;
	margin-top:100px;
}

.footer{
	position: fixed;
}
footer p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}