@import 'app.css';

body{
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

a {
    color: #fff
}

hr {
    border-bottom-color: #fff
    
}

footer{
    width: 100%;
    paddin-bottom: 0px;
}

footer p{
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    padding-left: 15px;
}