@import 'app.css';

body{
    background: #345;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff
}

a {
    color: #fff
}

hr {
    border-bottom-color: #fff
}

.footer{
	position: fixed;
}
footer p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}