body{
	background: #345;
}
a img{
	height: 10px
	width:10px;
}
.files{
	float: right;
}
li{
	display: inline;
}
li a{
	text-decoration: none;
	color: #000;
	margin-right: 10px;
	font-weight: bold;
	font-size: 24px;
}
ul li a : hover{
	background: #fff;
}
.head{
	text-align: center;
	margin-top:100px;
}



.buttons{
	text-align: center;
}
 button{
	color: white;
	background: #000;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 100px;
    border-radius: 50px;
    margin-top: 100px;
    margin-bottom: 100px;


}
.footer{
	position: fixed;
}
footer p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}